params {

    reads      = null
    paired     = false
    sra_ids    = null
    reference  = null
    outdir     = "results"
}

process {
    conda = "$projectDir/environment.yml"
}

process {

    withName: BCFTOOLS_MPILEUP {

        ext.args = ''
        ext.args2 = '-mv'
        ext.args3 = ''
    }
}

timeline {
    enabled = true
}

report {
    enabled = true
}

trace {
    enabled = true
}

dag {
    enabled = true
}

profiles {

    // local profile
    local {

        process.executor = 'local'

        process {
            cpus = 2
            memory = '4 GB'
            time = '2h'

            conda = "$projectDir/environment.yml"
        }
    }

    // cluster profile
    cluster {

        process.executor = 'slurm'

        process.queue = 'normal'

        process {
            cpus = 8
            memory = '16 GB'
            time = '12h'

            conda = "$projectDir/environment.yml"
        }
    }

    // container profile
    container {

        docker.enabled = true

        process.container = 'rinaden/fastq-pipeline:latest'

        process {
            cpus = 2
            memory = '4 GB'
            time = '4h'
        }
    }
}